<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Get Comicbook Character | Simple Flask REST API</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
  </head>
  <body class="has-text-centered">
    <section class="section">
      <div class="container">
        <h1 class="title">{{ title }}</h1>
        <p class="subtitle">
          A simple REST API using Flask to retrieve comic book characters.
          Currently, only Marvel Comics characters.
        </p>
        <p>
          <a
            href="https://github.com/michabre/get-comicbook-character"
            class="button is-link"
            >View on GitHub</a
          >
        </p>
      </div>
    </section>
    <footer class="footer">
      <div class="content">
        <p><small>Data provided by Marvel. &copy; 2021 MARVEL</small></p>
      </div>
    </footer>
  </body>
</html>
